################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/News-Application/.vs/News-Application
/News-Application/News-Application/obj
